* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Times New Roman", sans-serif;
    padding: 0;
    margin: 0;
}
.header {
    background-color: #198754;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-size: 24px;
    margin-left: 10%;
}
.header .logo:hover {
    transform: scale(1.05)
}
.tags {
    margin: 5px 0 0 20px;
}
.tags a {
    color: black;
    padding: 0 5px;
    text-decoration: none;
}
.tags a:hover {
    color: white;
}

.slogan {
    font-size: small;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display:inline;
    margin-right:20px;
    color: black;
    font-weight: bold;
}
/*slidershow*/


.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}


.slider-container button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 50px;
    border: none;
    cursor: pointer;
}
.slider-container button:hover{
    opacity: 1;
    background: #198754;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider {
    display: flex;
    flex-direction: row;
    width: 200%;
    transition: transform 0.5s ease;

}

.slider img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}



/*header*/
.home-tracuu{
    position: relative;
    width: 100%;
    height: 200px;
    background: url("Image/heading-bg.png") #e2f4ea;
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 200px;
}
.home-tracuu .container div a{
    text-decoration: none;
    color: black;
}
.home-tracuu .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 20px;
}
.lookup {
    position: relative;
    cursor: pointer;
}

.lookup .content {
    display: none; /* Ẩn nội dung ban đầu */
    position: absolute;
    background-color: #198754;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 5px;
    top: 100%;
    left: 0;
    width: 200px;
    height: fit-content;
    z-index: 1;
}
.lookup .content .style-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lookup .content a{
    padding: 10px;
}

.lookup:hover .content {
    display: block; /* Hiển thị nội dung khi hover */
}


/*footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*admin-login*/
.login-backgr{
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-backgr .container{
     display: flex;
    height: 740px;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}
.border-container{
    background-color: white;
    padding: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.login{
     display: flex;
     flex-direction: column;
    width: 400px;
    gap: 5px;
}
.login input{
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
